<div class="container teal">
  <div class="row">
    <div class="col s12" style:"width:100%">
      <h5 class="white-text">Create an Account</h5>

      {{#if message}}
      <div class="alert alert-danger">{{message}}</div>
      {{/if}}


      <form action="/user/signup" method="POST" class="auth-form">
        <p class="input-field">
          <input type="email" name="email" placeholder="Email">
        </p>
        <p class="input-field">
          <input type="password" name="password" placeholder="Password">
        </p>
        <p class="input-field">
          <input type="radio" name="orgName" value="General Assembly" checked> General Assembly<br>
          <input type="radio" name="orgName" value="DC Tech Meetup"> DC Tech Meetup<br>
        </p>
        <p class="input-field">
          <input type="text" name="firstName" placeholder="First Name">
        </p>
        <p class="input-field">
          <input type="text" name="lastName" placeholder="Last Name">
        </p>
        <p class="input-field">
          <input type="text" name="zipCode" placeholder="ZIP code for home?">
        </p>
        <p class="input-field">
          <input type="submit" value="Sign Up" class="btn waves-effect waves-light">
        </p>
      </form>
    </div>
  </div>
</div>
