<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        {{#if currentUser}}
          <li>Hello {{currentUser.local.firstName}}! Welcome to {{currentUser.local.orgName}} on Uncommon Joe</li>
          <li>Click <button>Match</button> when you are ready!</li>
        {{else}}
        <h5 class="header col s12 light">Join organizations and match for a cup of Uncommon Joe.</h5>
        <h5 class="header col s12 light"><a href="/user/login">Log in</a> or sign up <a href="/user/signup">here</a>.</h5>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>
