  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Uncommon Joe</h1>
        <div class="row center">
          <h5 class="header col s12 light">Connect across your large organization over coffee.</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join now!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group_add</i></h2>
            <h5 href="#" class="center">Organizations</h5>
            <p class="light">Want your employees or members to connect across difference? Register with Uncommon Joe.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">people</i></h2>
            <h5 href="#" class="center">Match</h5>
            <p class="light">Check out your matches, or see all the connections that Uncommon Joe has made!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">message</i></h2>
            <h5 href="#" class="center">Messages</h5>
            <p class="light">Once you match, coordinate for coffee using the messages feature!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">We are connecting people across their organization, one cup of Uncommon Joe at a time.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>
