<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Organizations of all sizes can bring their people together with Uncommon Joe.</h5>
        <h5 class="header col s12 light">If you don't see your organization with Uncommon Joe already, add it <a href="#">here</a>.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
<div class="container teal">
  <div class="row">
    <div class="col s12" style:"width:100%">
      <h5 class="white-text">Organizations with Uncommon Joe</h5>
      <h4 class="white-text">General Assembly</h4>
      <h4 class="white-text">DC Tech Meetup</h4>
    </div>
  </div>
</div>
